---
const { title = "Neureal" } = Astro.props;
import WebsiteSchema from "../components/WebsiteSchema.astro";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Optimize your SEO in youtube</title>
    <meta name="description" content="Grow SEO on youtube with advanced tools like AI, trends and more and with a community of Influencers." />
    <meta name="author" content="Neureal" />
    <meta name="keywords" content="neureal, youtube SEO, AI content optimizator, youtube analytics, tiktok algorithm" />
    <meta property="og:image" content="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="https://neureal.site/" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet" crossorigin />

    <!-- Enlaza los estilos principales -->
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/bta.css" />
    <link rel="stylesheet" href="/styles/help-center.css" />
    <link rel="stylesheet" href="/styles/documentation.css" />
    <link rel="stylesheet" href="/styles/sm.css" />
    <link rel="stylesheet" href="/styles/pm.css" />
    <link rel="stylesheet" href="/styles/terms.css" />
    <link rel="stylesheet" href="/styles/privacy.css" />
    <link rel="stylesheet" href="/styles/security.css" />
    <WebsiteSchema />
  </head>
  <body>
    <div class="cosmic-glow"></div>
    <slot />
    <!-- Scripts frontend (deben estar en /public/scripts/client/) -->
    <script src="/scripts/client/scripts.js" type="module" defer></script>
    <script src="/scripts/client/waves.js" type="module" defer></script>
    <script src="/scripts/client/faq.js" type="module" defer></script>
    <script src="/scripts/client/header.js" type="module" defer></script>
    <script src="/scripts/client/scr.js" type="module" defer></script>
  </body>
</html>